doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/site.min.css')
    link(rel='stylesheet', href='/css/vendor.min.css')
    link(rel='stylesheet', href='/css/form-extras.css')
  body
    block content
